<h3>confirmation screen</h3>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <p>content：<%= @post.content %></p>
  <p>image：<%= image_tag @post.image.url, style:'width:400px' %></p>
  <%= form.submit "confirm" %>
<% end %>